/* =================================================== /
  Project Name - CSS Reset Template
  Author       - Jordan Picton
  Branch       - Pictostudio
  Date & Time  - 04/08/2024 - 15:26:48
/ ==================================================== */

*,
body {
	margin: 0;
	padding: 0;
	font-size: 16px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	font-style: italic;
	background-repeat: no-repeat;
	background-size: cover;
	shape-margin: 1rem;
}

ul,
ol {
	list-style: none;
}

a,
a:hover,
a:visited {
	text-decoration: none;
	color: inherit;
}